
.container0{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.div1{
    border: 1px black solid ;
    width: 250px;
    height: 250px;
    overflow:scroll
}
.div2{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
}

.container1{
    background-color: bisque;
    height: 300px;
    display: flex;
    flex-direction: row; /* x eksenindeyim, satırlarla calisiyiorum*/
    flex-wrap: wrap;
    justify-content: space-evenly; /* x ekseninde çalışıyor/ Satırlar arasında boşluk veriyor/seriyor */
    align-items: center; /*y ekseninde çalışır (ana eksen olmayan eksen ile çalışır)*/
    margin-bottom: 20px;

   
}

.box{
    width: 49%;
    border: 1px solid black;
    height: 20px;
}

.box.box1{
    background-color: purple;
}
.box2{
    background-color: orange;
}
.box3{
    background-color: green;
}
.box4{
    background-color: gray;
}
.box5{
    background-color: brown;
}
.box1-child{
    background-color: blue;
    width: 50%;
    height: 100%;
}

.newbox{
    border: 1px solid black;
    height: 20px;
    width: 30%;
}


.container2{
    background-color:rgb(0, 110, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    height: 400px;  
    margin-bottom: 80px;  
}

.box6{
    background-color: bisque;
}

.box7{
    background-color:orangered;
}

.box8{
    background-color:yellow;
}
.box9{
    background-color:brown;
}
.box10{
    background-color:greenyellow;
}
.box11{
    background-color:orange;
}
.box12{
    background-color:grey;
}
.box13{
    background-color:lightskyblue;
}

.container3{
    height: 300px;
    margin-bottom: 100px;
    display: flex;
    

}

.box14{
    background-color: yellow;
    flex:2;
}
.box15{
    background-color: blue;
    flex: 2;
}
.box16{
    background-color: red;
    flex: 3;
}








